* {
    font-size:1.1em;
}
::selection {
    background:#006064;
    color:#E0F7FA;
}
body {
    color:#006064;
}
.container {
    display:none;
}
.jumbotron {
    background:#00BCD4;
    color:#E0F7FA;
}
.jumbotron h1 {
    font-family:'Crete Round', sans-serif;
}
.my-btn {
    background:#00BCD4;
    color:#E0F7FA;
    text-align: center;
    font-size:1.3em;
    width:80px;
    height:80px;
    margin-top:1em;
    border-radius:50%;
}
.my-btn:hover {
    background:#00ACC1;
    color:#E0F7FA;
}
.my-btn:focus, .my-btn:active {
    outline: -webkit-focus-ring-color auto 0px;
}
input {
    background: #fff;
    color:#006064;
    border:none;
    border-bottom:solid 1px #006064;
}
input[type="text"] {
    width:5em;
    text-align:center;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
input[type="text"]:focus  {
    border-bottom:solid 2px #00BCD4;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */